name: Dependency Review
on:
  workflow_call:

permissions:
  contents: read

jobs:
  Dependency-Review:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Main
        uses: actions/dependency-review-action@v1